The 
<b>chickpea</b> or 
<b>chick pea</b> (<i>Cicer arietinum</i>) is an 
annual legume of the family Fabaceae, subfamily Faboideae. Its different types are variously known as 
<b>gram</b> or <b>Bengal gram</b>, <b>garbanzo</b> or <b>garbanzo bean</b>, <b>Egyptian pea</b>. Chickpea seeds are high in protein. 
It is one of the earliest cultivated legumes, and 7500-year-old remains have been found in the Middle East.
