/* ELO theme colors are 
   Plum: #501549
   Brown: #91712c
   Green: #41695b 
   Light green #247456*/
        /* logo */
.skin-blue .main-header .logo {
    background-color: #fffffe;
    color: #000000;
}
.skin-blue .main-header .logo a {
    color: #000000;
}
.content-wrapper, .right-side {
    background-color: #f0f0ef;
}

/* logo when hovered */
.skin-blue .main-header .logo:hover {
                      background-color: #fffffe;
                      }

/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
                      background-color: #fffffe;
                      }        

/* main sidebar */
.skin-blue .main-sidebar {
                      background-color: #fffffe;
                      }

/* active selected tab in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
                      background-color: #f0f0ef;
                      }

/* other links in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu a{
                      background-color: #fffffe;
                      }

/* other links in the sidebarmenu when hovered */
 .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
                      background-color: #f0f0ef;
                      }
/* toggle button when hovered  */                    
 .skin-blue .main-header .navbar .sidebar-toggle:hover{
                      background-color: #501549;
  }
  
.skin-blue .sidebar a{
  font-size: large;
  font-weight: bold;
  color: #8A6386;
}
.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a{
  color: #436C5E;
}

/* Class of all containers where data is displayed */
.datapanel{
  background-color: #fffffe;
}
/* Flexible grid of panels */
/* Shows an error for some reason in Rstudio but does work */
.flexigrid{
  /*display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;*/
  
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}

.display-tile{
  background-color: #fffffe;
  position: relative;
  width: 173px; 
  height: 156px;
  border-style: solid;
  border-width: thin;
  border-color: black;
  margin: 10px;
}
.display-tile:hover{
  background-color: #ECE4EB;
}
.display-tile-pic{
  position: absolute;
  text-align: left;
  width: 125px; 
  height: 125px;
  top: 50%;
  left: 50%;
  margin-left: -56px;
  margin-top: -62px;
}
.display-tile-dummy{
  background-color: #eeeeee;
  position: relative;
  width: 173px; 
  height: 156px;
  border-style: dashed;
  border-width: thin;
  border-color: black;
}
.carousel-control
{
  font-size: 75px;
  color: #337ab7;
  
}

/* "X" button to close a tab */
.tab-close{
  width: 5px;
  background-color: #ffffff00;
  border-color: #ffffff00;
}
.tab-close:hover{
    border-color: #ffffff;
}
.tab-close:active{
    border-color: #ffffff;
}
.tab-close:focus{
    border-color: #ffffff;
}
.tab-close-x{
  margin-left: -5px;
}
.geneset-selection-checkbox{
  margin-left: 5px;
}